.fr5 {
    width: 1440px;
    position: relative;
    background-color: var(--color-lightyellow);
    height: 1104px;
    overflow: hidden;
    font-size: var(--font-size-11xl);
    color: var(--color-lightyellow);
  }
  a {
    text-decoration: none;
    color: black;
  }
  
  /*footer*/
  .group-parent {
      position: relative;
      bottom: 0;
      left: calc(50% - 720px);
      width: 1440px;
      height: 408px;
  }
  
  .group-item,
  .rectangle,
  .rectangle-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
  }
  
  .group-item {
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.35);
      border-radius: 20px;
      background-color: var(--color-lightyellow);
      height: 136px;
  }
  
  .group-child {
      position: absolute;
      top: 50px;
      left: 0;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      background-color: #12372a;
      width: 1440px;
      height: 372px;
  }
  
  .rectangle,
  .rectangle-parent {
    height: 429px;
  }
  
  .rectangle {
      text-decoration: none;
      top: 3px;
      border-radius: var(--br-3xs);
      width: 200px;
      height: 200px;
      background-image: url(/public/rectangle@3x.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
      cursor: pointer;
  }
  
  .rectangle-group {
      position: absolute;
      top: 174px;
      left: 33px;
      width: 479px;
      height: 203px;
      text-align: left;
  }
  
  .alamat,
  .kec-pineleng-kabupaten,
  .north-124-50 {
    position: absolute;
    left: 217px;
    line-height: 100%;
  }
  
  .alamat {
      top: 0;
      font-size: var(--font-size-11xl);
  }
  
  .kec-pineleng-kabupaten {
      top: 55px;
      display: flex;
      align-items: center;
      width: 262px;
  }
  
  .north-124-50 {
      top: 136px;
      display: flex;
      align-items: center;
      width: 212px;
  }
  
  .contact {
      position: absolute;
      top: 177px;
      left: 1061px;
      width: 311px;
      height: 185.8px;
  }
  
  .email-pineleng30gmailcom,
  .hubungi-kami,
  .jl-raya-manado {
    position: absolute;
    left: 0;
    line-height: 100%;
    display: flex;
    align-items: center;
  }
  
  .telp-0013-3748382 {
      position: absolute;
      top: 126px;
      left: 0;
      line-height: 100%;
      display: flex;
      align-items: center;
      width: 205px;
      height: 26.8px;
  }
  
  .email-pineleng30gmailcom {
      top: 159px;
      width: 311px;
      height: 26.8px;
  }
  
  .hubungi-kami {
      top: 0;
      font-size: var(--font-size-11xl);
      width: 179px;
      height: 33.5px;
  }
  
  .jl-raya-manado {
      top: 72px;
      text-align: left;
      width: 272px;
  }
  
  .copyrightdesapineleng {
      position: absolute;
      top: 322px;
      left: 591px;
      line-height: 100%;
  }
  
  .frame-child {
      position: absolute;
      top: 162px;
      left: 520px;
      max-height: 100%;
      width: 281px;
  }
  
  .desa-parent {
      top: 194px;
      left: 625px;
      width: 191px;
      height: 100px;
      text-align: center;
      font-size: var(--font-size-29xl);
      font-family: var(--font-arizonia);
  }
  
  .desa {
      position: absolute;
      top: 77px;
      left: 289px;
  }
  
  .desa-parent, .pineleng {
      position: absolute;
      top: 117px;
      left: 336px;
  }

  .group-inner,
.group-item {
  position: absolute;
  left: 0;
  width: 1440px;
}
.group-item {
  top: 14.88px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #12372a;
  height: 173.1px;
}
.group-inner {
  top: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  background-color: var(--color-lightyellow);
  height: 89px;
}
.copyrightdesapineleng {
  position: absolute;
  top: 118px;
  left: 32px;
  font-weight: 600;
  cursor: pointer;
}
.rectangle-group {
  position: absolute;
  top: 916px;
  left: 0;
  width: 1440px;
  height: 188px;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-lightyellow);
  font-family: var(--font-jost);
}